<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".presentation.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DText"
        tools:targetApi="31" >
        <activity
            android:name=".presentation.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.DText.Splash.Screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.home.HomeActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.DText.Home" >
        </activity>
        <activity
            android:name=".presentation.onboardingscreen.OnboardActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.DText.Splash.Screen">
        </activity>
        <activity
            android:name=".presentation.welcomescreen.WelcomeScreenActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.DText.Splash.Screen">
        </activity>
        <activity
            android:name=".presentation.authentication.AuthenticationActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.DText.Onboard.Screen"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".presentation.signIn.SignInActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.DText.Onboard.Screen"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".presentation.signUp.SignUpActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.DText.Onboard.Screen"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".presentation.acceptpolicy.AcceptPolicyActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.DText.Onboard.Screen">
        </activity>
        <activity
            android:name=".presentation.setting.SettingActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.DText.Home">
        </activity>
        <activity
            android:name=".presentation.setting.notification.SettingNotificationActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.DText.Home">
        </activity>
        <activity
            android:name=".presentation.setting.autoscan.SettingAutoScanActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.DText.Home">
        </activity>
        <activity
            android:name=".presentation.setting.about.SettingAboutActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.DText.Home">
        </activity>
        <activity
            android:name=".presentation.setting.policy.SettingPolicyActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.DText.Home">
        </activity>
    </application>

</manifest>